# Ignorar todos los archivos con extensión .txt
*.txt

# Ignorar archivo puntual
preguntas.html

# Ignorar carpetas de capturas y variables
capturas_de_pantallas
.env

# Ignorar la carpeta de configuraciones y claves
.streamlit
